<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Return All Books - Worblehat Bookmanager</title>
</head>
<body>
	<h1>Get personal borrowing list</h1>

	<form th:object="${returnAllBookFormData}" method="POST">
		 Email Address:<input id="emailAddress" type="text" th:field="*{emailAddress}" />
		<span th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}"></span>
		<br />
		<input type="submit" id="returnAllBooks" value="Show Bookings" />

	</form>

	<hr />
	<a th:href="@{/}">Back to Home</a>
</body>
</html>
